<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="font-size: 30px; display: flex; align-items: center; justify-content: center; align-content: center;">
        <img src="https://chat.google.com/u/0/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fjpeg&attachment_token=AOo0EEWGgS089kvQ21TsyXMuf4i5Wj8JnTG3GtVYTkm0JG2hj0FCBGTLNv29lSCs175v8ditcOxDsoJ0befbZJaP0QV%2B0FVIqdAUrh7y6jPgZqVXAiajKB18msaH8bkzZgYWOeOnDWqJ9pj2l7ijdNfP3xekGxradyQL2zKfkIXqh%2FGbH1Q6qvfOQFxaoQKmq3EGUEioSf%2FqoZz%2Ftx9Tacwjc8tJy%2BTR8PaVNMt9Zl5jUclz7SuuUqaox6%2FMwuZiFwMxzBcW4ZKLpQp80tFZojEjg3aOkVRYH7O3D19pSiNw2fBM7S0%2FVDogEH1lmub2MdoMInvNnenBjp3glRJ7mBB2JCX0wKhvFO7LtJtTumhO29jPUlGnhIjI%2F8wA2IjH4Cq3NnvZcetG6BWrKOnXeBacXZYarbbIwdShbkZ%2BhvJxTB6kq%2FvEa%2B3o5k5iHxE8mayIfJOEjovMK9SiTFgJhog1TwMlkHp8WwG2lbG4EljzUMETmKgwlcRZ4%2FGStvAh4Ohhx0VjqKgkezv5PfQ72jR%2Fi2PMNRFmDjEs37X1OoWQ11NwHUCSBtdarxpgPYR%2FincXFUj4YY9p&allow_caching=true&sz=w512" alt="">
    </div>
    <div style="font-size: 30px; display: flex; align-items: center; justify-content: center;">Oops, ha ocurrido un error con nuestro servidores, por favor intentalo mas tarde</div>
</body>
</html>